
<div *ngInit gelAllQcm()></div>

<!-- <button mat-button class="primary" (click)="getAllQcm()">Afficher les QCM</button> >> ICI filtres << -->

<div class="row">
  <div class="col">
    <!-- <label for="inputText"><i>filtre : </i></label> -->
    <input  id="inputText" type="text" #textElement placeholder="mot à rechercher" value="{{message}}" (keyup.enter)="refreshList(textElement.value)"/>
    <button mat-button class="primary" (click)="refreshList(textElement.value)">filtrer</button>
  </div>
  <button mat-button class="primary" (click)="initFiltre()">init filtre</button> 
</div>


<!--  -->
  <div *ngIf="!charged; else blockcharged0" class="center">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>

  </div>
  <ng-template #blockcharged0>



<table class="table table-hover">
  <thead>
  <tr class='table-primary'>
    <th scope="col">Jouer</th>
    <th hidden>ID</th>
    <th scope="col">Intitulé</th>
    <th hidden>Créé le</th>
    <th hidden>Derniere édition</th>
    <th scope="col">Créateur</th>
    <th hidden>Nombre de question</th>
    <th scope="col">Thème</th>
  </tr>
  </thead>
  <tbody *ngFor="let qcm of qcms$ | filtreQCM:message; let index=index">
      <tr [class]="tableVisuel[index % 2]" >
      <td> <button class="btn btn-secondary" [routerLink]="['/play', qcm.id]">Go !
      </button>
      <td hidden>{{qcm.id}}</td>
      <td>{{qcm.body}}</td>
      <td hidden>{{qcm.createDate}}</td>
      <td hidden>{{qcm.editDate}}</td>
      <td>{{qcm.designerPseudo}}</td>
      <td hidden>{{qcm.nbOfQuestions}}</td>
      <td>{{qcm.topic}}</td>
      </tr>
  </tbody>
</table>
</ng-template>
