<div *ngInit gelAllQcm()></div>
<!--
  ####### PAS ENCORE UTILE ########
<button mat-button class="primary" (click)="getAllQcm()">Afficher les QCM</button> >> ICI filtres <<
  -->
<table class="table table-hover">
  <thead>
  <tr class='table-primary'>
    <th scope="col">Jouer</th>
    <th hidden>ID</th>
    <th scope="col">Intitulé</th>
    <th hidden>Créé le</th>
    <th hidden>Derniere édition</th>
    <th scope="col">Créateur</th>
    <th hidden>Nombre de question</th>
    <th scope="col">Thème</th>
  </tr>
  </thead>
  <tbody *ngFor="let qcm of qcms$; let index=index">
      <tr [class]="tableVisuel[index % 2]" >
      <td> <button class="btn btn-secondary" [routerLink]="['/play', qcm.id]">Go !
      </button>
      <td hidden>{{qcm.id}}</td>
      <td>{{qcm.body}}</td>
      <td hidden>{{qcm.createDate}}</td>
      <td hidden>{{qcm.editDate}}</td>
      <td>{{qcm.designerPseudo}}</td>
      <td hidden>{{qcm.nbOfQuestions}}</td>
      <td>{{qcm.topic}}</td>
      </tr>
  </tbody>
</table>
