<div class="popup">
<p>{{legende}}</p>

<script async charset="utf-8"
    src="//cdn.iframe.ly/embed.js?api_key=1cfcdc5b115c5e9c6101ab">
</script>
<mat-dialog-content>
  <div class="mediaContainer">
<div *ngIf="(typeMedia == 'video')">
  <iframe [src]=safeAddresseMedia frameborder="0" allowfullscreen class="mediaVideo displayed"></iframe>
</div>
<div *ngIf="(typeMedia == 'image')">
    <!-- <iframe [src]=safeAddresseMedia frameborder="0" allowfullscreen class="mediaVideo displayed"></iframe> -->
   <img [src]=safeAddresseMedia class="mediaImg"/> 
  </div>
  <div *ngIf="(typeMedia == 'audio')">
    <iframe [src]=safeAddresseMedia frameborder="0" class="mediaAudio"></iframe>
  </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button matDialogClose>Fermer</button>
</mat-dialog-actions>
</div>
