.popup{
  display: flex;
  align-items: center;
  vertical-align: middle;
  flex-direction: column;

}
.mediaContainer{
  text-align: center;

}

.mediaVideo{
  height: 450px;
  width: 800px;
}
.mediaImg{
  height: 450px;
  width: auto;
}
