@charset "UTF-8";



.error{
        background-color: rgb(253, 154, 154);
        color :rgb(168, 2, 2);
        
    }
    
 erreurChamp{
 align: middle;
 color:rgb(168, 2, 2);
 }
 
 #h1SignIn{
 align: middle;
 }
 
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
   flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
  .form-signin {
  width: 100%;
  max-width: 800px;
  padding: 15px;
  margin: auto;
}