<div class="center">
  <div *ngIf="qcm==null; else blockcharged0" class="center">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>

  </div>
  <ng-template #blockcharged0>
  <div *ngIf="!lancer, else qcmLancer">
    <!-- <div class="card border-success mb-3" style="max-width: 20rem;">   ceci pour afficher un cadre qui fait au plus 20 rem de large-->
    <div class="card mb-3 center">
      <div  *ngIf="qcm.multimedia.typeMultimedia != 'aucun'" class="mediablock">
        <a (click)=openQcmMedia()>
          <fa-icon *ngIf="icone != null" [icon]=icone size="6x" class="mediablockiconeelement"></fa-icon>
          <img src="{{vignette}}" class="mediablockelement vignette" />
        </a>
        <p>{{qcm.multimedia.legende}}</p>
      </div>
      <div class="card-header">
        <h1>{{qcm.body}}</h1>
      </div>
      <div class="card-body">
        theme du QCM :<h2 class="card-title"> {{qcm.topic}}</h2>
        auteur du QCM :<h2 class="card-text"> {{qcm.designerPseudo}}</h2>
        <p class="card-text">nombre de questions :  {{totalquestion}}</p>

      </div>
      <div class="card-footer text-muted">
      <button class="btn btn-secondary" (click)="lancerQcm()">Lancer le QCM</button>
      </div>
    </div>

  </div>
  </ng-template>
  <ng-template #qcmLancer>
    <progress-bar [ngStyle]="{'width': progress, 'background-color':
  'blue'}"></progress-bar>
    <span *ngIf="!corriger, else questionCorriger">

      <div *ngIf="question==null; else blockcharged" class="center">
        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>

      </div>
      <ng-template #blockcharged>
        <!-- affichage de la carte contenant la question et les réponses-->
        <div class="card mb-3">
          <h5 class="card-header"><strong>n° {{questionnumber}} sur {{totalquestion}}</strong><br> 
           <i> du QCM : {{qcm.body}}</i> 
           <div *ngIf="qcm.multimedia.typeMultimedia != 'aucun'">
              <button class="btn btn-light btn-sm"  (click)=openQcmMedia()>
                <fa-icon [icon]=rejouerIcone ></fa-icon> {{mediaTypeDisplay}} du qcm </button> <br/>
            </div>
          </h5>
          <div class="card-body">
              <div *ngIf="question.multimedia.typeMultimedia != 'aucun'" class="mediablock" >
                <a  (click)=openMedia()>
                  <fa-icon *ngIf="icone != null" [icon]=icone size="6x" class="mediablockiconeelement"></fa-icon>
                  <img src="{{vignette}}" class="mediablockelement vignette" />
                </a>
                <p class="card-text">{{question.multimedia.legende}}</p>
            </div>
            <h1 class="card-title">{{question.body}}</h1>
            <h6 class="card-subtitle text-muted" hidden>id de la question : {{question.id}}</h6>
          </div>

          <div class="blockanswers clearfix">
            <span *ngFor="let answer of question.answersPlayableDto; let index=index" class="btn-group buttonsgroup">
              <input type="checkbox" [value]="reponsesAnswersUser[index]" [checked]="reponsesAnswersUser[index]"
                [id]="reponsesAnswersUser[index]" hidden>
              <!-- bouton faisant varier la valeur de la checkbox, pour contenir text, animations btn,... -->
              <button class="button" [ngClass]="{buttonclicked : reponsesAnswersUser[index]}"
                (click)="reponsesAnswersUser[index] = !(reponsesAnswersUser[index])">
                <strong>
                  {{answer.body}}
                </strong>
              </button>
            </span>
          </div>
          <!-- le bouton n'apparait que si la question est chargée -->
          <div *ngIf="question != null" class="card-footer text-muted">
            <button class="btn btn-secondary" (click)="lancerQuestionCorriger()">Valider</button>
          </div>
        </div>

      </ng-template>

    </span>
    <br />
  </ng-template> <!-- fin affichage de la carte contenant la question et les réponses proposées-->
  <ng-template #questionCorriger>
    <!-- affichage de la carte correction de la question-->
    <span *ngIf="!bilan, else afficherBilan">
      <div *ngIf="(question==null || reponsesAttendus == null); else blockcharged2" class="center">
        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
      </div>
      <ng-template #blockcharged2>
        <!-- affichage de la carte correction-->
        <div class="card mb-3" [ngClass]="{success : reponsesQCMUser[qIndex], fail :!reponsesQCMUser[qIndex] }">
            <h5 class="card-header"><strong>n° {{questionnumber}} sur {{totalquestion}}</strong><br> 
              <i> du QCM : {{qcm.body}}</i> 
              <div *ngIf="qcm.multimedia.typeMultimedia != 'aucun'">
                 <button class="btn btn-light btn-sm"  (click)=openQcmMedia()>
                   <fa-icon [icon]=rejouerIcone ></fa-icon> {{mediaTypeDisplay}} du qcm </button> <br/>
               </div>
             </h5>
          <div class="card-body">
                          <div class="mediablock" *ngIf="question.multimedia.typeMultimedia != 'aucun'">
                <a  (click)=openMedia()>
                  <fa-icon *ngIf="icone != null" [icon]=icone size="6x" class="mediablockiconeelement"></fa-icon>
                  <img src="{{vignette}}" class="mediablockelement vignette" />
                </a>
                <p class="card-text">{{question.multimedia.legende}}</p>
            </div>

            <h1 class="card-title">{{question.body}}</h1>
            <h6 class="card-subtitle text-muted" hidden>id de la question : {{question.id}}</h6>

            <span *ngIf="reponsesAttendus.commentPostAnswer"> Notes : {{reponsesAttendus.commentPostAnswer}}</span>
          </div>

          <div class="blockanswers clearfix" >
            <span *ngFor="let answer of question.answersPlayableDto; let index=index" class="btn-group buttonsgroup">

                <input type="checkbox" [value]="reponsesAnswersUser[index]" [checked]="reponsesAnswersUser[index]"
                  [id]="reponsesAnswersUser[index]" hidden disabled>
                <button class="buttonblocked" [ngClass]="{buttonblockedclickedcorrect : reponsesAnswersUser[index]&&trueReponseAnswerUser[index],
               buttonblockedclickedfalse : reponsesAnswersUser[index]&&!trueReponseAnswerUser[index],
               buttonblockedfalse : !reponsesAnswersUser[index]&&!trueReponseAnswerUser[index]}"
                  (click)="reponsesAnswersUser[index] = !(reponsesAnswersUser[index])" disabled>
                  <strong>
                    {{answer.body}}
                  </strong>
                  <br />
                  <em>
                    {{varAnswersCorrection[index].commentPostAnswer}}
                  </em>
                </button>

            </span>

          </div>
        
          <div class="card-footer text-muted">
            <p *ngIf="!thisIsTheEnd">
              <button class="btn btn-secondary" (click)="nextQuestion()">question suivante</button>

            </p>
            <p *ngIf="thisIsTheEnd">
              <button class="btn btn-secondary" (click)="bilanQCM()">Terminer le QCM</button>
            </p>
          </div>
        </div>
        <!--fin affichage de la carte correction-->
      </ng-template>
    </span>
  </ng-template>

</div>
<ng-template #afficherBilan>

  <div class="card mb-3">
      <h5 class="card-header"><strong>Fin du QCM</strong><br> 
        <i> {{qcm.body}}</i> 
        <div *ngIf="qcm.multimedia.typeMultimedia != 'aucun'">
           <button class="btn btn-light btn-sm"  (click)=openQcmMedia()>
             <fa-icon [icon]=rejouerIcone ></fa-icon> {{mediaTypeDisplay}} du qcm </button> <br/>
         </div>
       </h5>
  <div class="card-body">  
    Sujet du QCM:
    <h2> {{qcm.body}}</h2><br />
  Nombre de questions au total:
 <h2> {{totalquestion}}</h2><br />
  Nombre de bonnes réponses :
  <h2>{{correctAnswer}}</h2><br />
  soit <span style="font-size: 2em;">{{pourcentReussite}}%</span> de bonnes réponses<br />
  <br />
  Temps:<br />
  <h2>
  <span *ngIf="timeMin!=null"> {{timeMin}}min et </span>
  {{time}}s
</h2><br />  
</div>
<div class="card-footer ">
    <div style="float:right; "><button *ngIf="!mailResultDemande" class="btnResult" mat-raised-button (click)="openFormResultat()" style="width: 180px">résultat par mail</button></div>
    <span *ngIf="mailResultDemande && bMailResultDemande"> <!-- affichage du formulaire pour envoie du Rsesultat dans le span--> 
      <div class="form-group" style="text-align: left;">
          <label for="taskInput" >adresse cible de l'envoi de votre resultat: </label>
          <input id="taskInput" type="text" #adresse value={{adrRep}} class="form-control" placeholder="adresse cible de l'envoi"/>
          <!-- <p class="alert-danger" *ngIf="message">{{message}}</p> -->
        </div>
        <div class="form-group" style="float:right;">
          <button class="btn btn-primary" (click)="submitResult(adresse)" style="width: 180px">envoyer</button>
        </div>
    </span>     <!-- fin affichage du formulaire pour envoie du Rsesultat dans le span-->
    <span *ngIf="!bMailResultDemande" >
         <div style="text-align: left;">résultat envoyé à l'adresse {{adrEnvoieResultat}}</div>
    </span>
</div>
<div class="card-footer ">
    <div style="float:right;"><button *ngIf="!mailDemande" class="btnMail" mat-raised-button (click)="openFormMail()" style="width: 180px">mail au concepteur</button></div>
    <span *ngIf="mailDemande && bMailDemande"> <!-- affichage du formulaire pour envoie du mail dans le span     sujet: any, corp: any, adrReponse: any --> 
          <div class="form-group" style="text-align: left;"> 
              <label>Mail pour le concepteur du QCM : </label>
              <!-- <label for="taskInput1">sujet du mail : </label> -->
              <input id="taskInput1" type="text" #sujet class="form-control" placeholder="Sujet du mail" style="width: 100%;"/>
              <!-- <label for="taskInput2">corp du mail : </label> -->
              <textarea id="taskInput2"  #corp class="form-control" rows="5" placeholder="Tapez ici le corp du mail"></textarea>
              <!-- <label for="taskInput3">votre adresse si vous souhaitez un échange : </label> -->
              <input id="taskInput3" type="text" #adrReponse value={{adrRep}} class="form-control" placeholder="votre adresse pour une reponse éventuelle" style="width: 100%;"/>
              <!-- <p class="alert-danger" *ngIf="message">{{message}}</p> -->
            </div>
            <div class="form-group" style="float:right;">
              <button class="btn btn-primary" (click)="mailToDesigner(sujet,corp,adrReponse)" style="width: 180px">envoyer</button>
            </div>
    
    </span> <!-- fin affichage du formulaire pour envoie du mail dans le span-->
    <span *ngIf="!bMailDemande">
      <div style="text-align: left;"> Mail envoyé au concepteur : </div>
        <div  style="white-space:pre-line; text-align: left;">{{infosMailConcepteur}}</div> 
   </span>
</div>
<div class="card-footer ">   
  <!-- <button class="btn btn-primary" [routerLink]="['/qcmList']">retour liste des QCM</button> -->
  <div><button class="btn btn-primary" [routerLink]="['/qcmList']">retour liste des QCM</button></div>
</div>
  
  
  </div>
</ng-template>

<br/>
<div *ngIf="chargementOK">
<div *ngIf="!signalInProgress">
<a (click)=initSignaler()> <fa-icon [icon]=signalerIcone [styles]="{'stroke': 'red', 'color': 'red'}" ></fa-icon> Signaler </a>
</div>
<br/>
<div *ngIf="signalInProgress">
  Signaler :
  <mat-radio-group
  [(ngModel)]="causeSignal">
  <mat-radio-button *ngFor="let causeSignal of causesSignal" [value]="causeSignal">
    {{causeSignal}}
  </mat-radio-button>
</mat-radio-group>
Les références du QCM et de la questions seront transmises à un administrateur
<button mat-button (click)=signaler()>
  Envoyer
</button>
</div>

</div>
<!-- pour les icones FontAwsome-->
<script src="https://kit.fontawesome.com/ee94e8f5a2.js" crossorigin="anonymous"></script>

