<div class="center">
  <div *ngIf="qcm==null; else blockcharged0" class="center">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>

  </div>
  <ng-template #blockcharged0>
  <div *ngIf="!lancer, else qcmLancer">
    <!-- <div class="card border-success mb-3" style="max-width: 20rem;">   ceci pour afficher un cadre qui fait au plus 20 rem de large-->
    <div class="card mb-3 center">
      <div mediablock>
        <a (click)=openQcmMedia()>
          <fa-icon *ngIf="icone != null" [icon]=icone size="6x" class="mediablockiconeelement"></fa-icon>
          <img src="{{vignette}}" class="mediablockelement vignette" />
        </a>
        <p class="card-text" *ngIf="qcm.multimedia != null">{{qcm.multimedia.legende}}</p>
      </div>
      <div class="card-header">
        <h1>{{qcm.body}}</h1>
      </div>
      <div class="card-body">
        theme du QCM :<h2 class="card-title"> {{qcm.topic}}</h2>
        auteur du QCM :<h2 class="card-text"> {{qcm.designerPseudo}}</h2>
        <p class="card-text">nombre de questions :  {{totalquestion}}</p>

      </div>
      <div class="card-footer text-muted">
      <button class="btn btn-secondary" (click)="lancerQcm()">Lancer le QCM</button>
      </div>
    </div>

  </div>
  </ng-template>
  <ng-template #qcmLancer>
    <progress-bar [ngStyle]="{'width': progress, 'background-color':
  'blue'}"></progress-bar>
    <span *ngIf="!corriger, else questionCorriger">

      <div *ngIf="question==null; else blockcharged" class="center">
        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>

      </div>
      <ng-template #blockcharged>
        <!-- affichage de la carte contenant la question et les réponses-->
        <div class="card mb-3">
          <h5 class="card-header">question n° {{questionnumber}} sur {{totalquestion}}</h5>
          <div class="card-body">
            <div class="mediablock">
              <a (click)=openMedia()>
                <fa-icon *ngIf="icone != null" [icon]=icone size="6x" class="mediablockiconeelement"></fa-icon>
                <img src="{{vignette}}" class="mediablockelement vignette" />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text" *ngIf="question.multimedia != null">{{question.multimedia.legende}}</p>
            </div>

            <h1 class="card-title">{{question.body}}</h1>
            <h6 class="card-subtitle text-muted" hidden>id de la question : {{question.id}}</h6>
          </div>

          <div class="blockanswers">
            <span *ngFor="let answer of question.answersPlayableDto; let index=index" class="btn-group buttonsgroup">
              <input type="checkbox" [value]="reponsesAnswersUser[index]" [checked]="reponsesAnswersUser[index]"
                [id]="reponsesAnswersUser[index]" hidden>
              <!-- bouton faisant varier la valeur de la checkbox, pour contenir text, animations btn,... -->
              <button class="button" [ngClass]="{buttonclicked : reponsesAnswersUser[index]}"
                (click)="reponsesAnswersUser[index] = !(reponsesAnswersUser[index])">
                <strong>
                  {{answer.body}}
                </strong>
              </button>
            </span>
          </div>
          <!-- le bouton n'apparait que si la question est chargée -->
          <div *ngIf="question != null" class="card-footer text-muted">
            <button class="btn btn-secondary" (click)="lancerQuestionCorriger()">Valider</button>
          </div>
        </div>

      </ng-template>

    </span>
    <br />
  </ng-template> <!-- fin affichage de la carte contenant la question et les réponses proposées-->
  <ng-template #questionCorriger>
    <!-- affichage de la carte correction de la question-->
    <span *ngIf="!bilan, else afficherBilan">
      <div *ngIf="(question==null || reponsesAttendus == null); else blockcharged2" class="center">
        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
      </div>
      <ng-template #blockcharged2>
        <!-- affichage de la carte correction-->
        <div class="card mb-3" [ngClass]="{success : reponsesQCMUser[qIndex], fail :!reponsesQCMUser[qIndex] }">
          <h5 class="card-header">question n° {{questionnumber}} sur {{totalquestion}}</h5>
          <div class="card-body">
            <div>
              <a (click)=openMedia() class="mediablock">
                <fa-icon *ngIf="icone != null" [icon]=icone size="6x" class="mediablockiconeelement"></fa-icon>
                <img src="{{vignette}}" class="mediablockelement vignette" center />
              </a>
            </div>

              <p class="card-text" *ngIf="question.multimedia != null">{{question.multimedia.legende}}</p>

            <h1 class="card-title">{{question.body}}</h1>
            <h6 class="card-subtitle text-muted" hidden>id de la question : {{question.id}}</h6>
           <!--
            <span *ngIf="reponsesQCMUser[qIndex]">
              <h2 class="text-success"> la reponse à la question est Correct, BRAVO</h2>
            </span>
            <span *ngIf="!reponsesQCMUser[qIndex]">
              <h2 class="text-danger"> Il y a des erreurs, voyez la correction</h2>
            </span>
          -->
            <span *ngIf="reponsesAttendus.commentPostAnswer"> Notes : {{reponsesAttendus.commentPostAnswer}}</span>
          </div>


          <div class="blockanswers">
            <span *ngFor="let answer of question.answersPlayableDto; let index=index" class="btn-group buttonsgroup">
              <div>
                <input type="checkbox" [value]="reponsesAnswersUser[index]" [checked]="reponsesAnswersUser[index]"
                  [id]="reponsesAnswersUser[index]" hidden disabled>
                <button class="buttonblocked" [ngClass]="{buttonblockedclickedcorrect : reponsesAnswersUser[index]&&trueReponseAnswerUser[index],
               buttonblockedclickedfalse : reponsesAnswersUser[index]&&!trueReponseAnswerUser[index],
               buttonblockedfalse : !reponsesAnswersUser[index]&&!trueReponseAnswerUser[index]}"
                  (click)="reponsesAnswersUser[index] = !(reponsesAnswersUser[index])" disabled>
                  <strong>
                    {{answer.body}}
                  </strong>
                  <br />
                  <em>
                    {{varAnswersCorrection[index].commentPostAnswer}}
                  </em>
                </button>
              </div>
            </span>

          </div>

          <div class="card-footer text-muted">
            <p *ngIf="!thisIsTheEnd">
              <button class="btn btn-secondary" (click)="nextQuestion()">question suivante</button>

            </p>
            <p *ngIf="thisIsTheEnd">
              <button class="btn btn-secondary" (click)="bilanQCM()">Terminer le QCM</button>
            </p>
          </div>
        </div>
        <!--fin affichage de la carte correction-->
      </ng-template>
    </span>
  </ng-template>

</div>
<ng-template #afficherBilan>

  <div class="card mb-3">
    <h1 class="card-header">
  Fin du QCM !</h1>
  <div class="card-body">
  Nombre de questions au total:
 <h2> {{totalquestion}}</h2><br />
  Nombre de bonnes réponses :
  <h2>{{correctAnswer}}</h2><br />
  soit <span style="font-size: 2em;">{{pourcentReussite}}%</span> de bonnes réponses<br />
  <br />
  Temps:<br />
  <h2>
  <span *ngIf="timeMin!=null"> {{timeMin}}min et </span>
  {{time}}s
</h2><br />
</div>
<div class="card-footer">
  <button class="btn btn-primary" [routerLink]="['/qcmList']">retour liste des QCM</button>
  </div>
  </div>
</ng-template>

<!-- pour les icones FontAwsome-->
<script src="https://kit.fontawesome.com/ee94e8f5a2.js" crossorigin="anonymous"></script>
