<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">
			%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName}
			--- [%15.15t] %-40.40c{1.} : %m%n%ex
		</Property>
	</Properties>
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT"
			follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>
		<File name="MyFile" fileName="c:/logs/app2.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>
		<File name="MyFile2" fileName="c:/logs/app2log2.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
	<Logger name="fr.dawan.springboot" level="debug"
			additivity="false">
			<AppenderRef ref="MyFileDebug" />
		</Logger>
		
		<Logger name="fr.dawan.springboot" level="info"
			additivity="false">
			<AppenderRef ref="MyFile2" />
		</Logger>
		
		<Root level="error">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="MyFile" />
		</Root>
	</Loggers>
</Configuration>