<div class="centered">
  <br />
  <h1>Bienvenue sur</h1>
  <img class="mb-4" src="../../../assets/img/QuizizSkillz.png" alt="" height="125">
  <br />version <br />
  <img class="mb-4" src="https://www.supinfo.com/articles/resources/226924/7051/0.png" alt="" height="50" width="100">
  <br />
  <br />
  <div class="card">
    <div class="card-header">
  <h2 class="text-uppercase card-title">Pourquoi QuizizSkillz ?</h2>
  </div>
  <h2>Lors du passage d’un QCM, celui qui montre le plus ses compétences, ce n’est pas celui qui passe le questionnaire,
    mais le créateur de ce QCM.
  </h2>
  <h3>Venez montrer vos talents dans des Quiz!</h3><br />
  <p>
    QuizizSkillz est une application Web initialement orientée "création"<br /> <br />
    creez vos questions,<br />
    générez vos QCM à partir de vos questions ou de celles de la communauté,<br />
    améliorez votre travail grace aux commentaires des autres utilisateurs,<br />
    et passez les questionnaires des autres !
  </p>
    <div class="card-footer">
    <a href="https://homer.iguane.org/AppQCMMono/">
      <img class="mb-4" src="../../../assets/img/QrotatedInCircle.png" alt="" height="125"><br/>
      Aller à la version originale
    </a>
    </div>
</div>
</div>
