<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home"><img class="logo" src="../../../assets\img\QuizizSkillz.png" alt="logo QuizizSkillz"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Accueil</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/qcmList">
          Liste des QCM
        </a>
      </li>
</ul>
</div>
</nav>

<router-outlet></router-outlet>


